/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

:root { touch-action: pan-x pan-y; height: 100%; }

body { font-family: 'Mulish', sans-serif !important; }
/* RESETS */
ul a { text-decoration: none; }
li { cursor: pointer; }
label { margin-bottom: 5px; font-size: 15px; }
input.form-control:focus { box-shadow: none; border: 1px solid #f1f1f1; background: #f1f1f1; }


/* BUTTON DEFAULT */
.globalButton { font-size: 16px; font-weight: bold; padding: 10px 30px; background: #2E333F; border: none; color: #fff; border-radius: 5px; }
.globalButton:hover { background: #363e4f; }

.globalButton-md { font-size: 16px; font-weight: bold; padding: 5px 30px; background: #2E333F; border: none; color: #fff; border-radius: 5px; }
.globalButton-md:hover { background: #363e4f; }

/* WRAPPER */
.wrapper { display: flex; justify-content: flex-start; width: 100%; height: 100vh; }

/* SIDEBAR */
.sidebar { width: 15%; background: #2E333F; }
.sidebar span { color: #fff; font-size: 20px; padding: 30px 30px 0px 30px; display: block; }
.sidebar ul { margin: 0; padding: 0; margin-top: 20px;}
.sidebar ul li { list-style: none; color: rgba(255,255,255,0.6); line-height: 45px; padding: 0px 30px; }
.sidebar ul li img { width: 18px; margin-right: 10px; margin-top: -3px; }
.sidebar ul li:hover { background: rgba(255,255,255,0.1);}

.sidebar img.menu-mobile { display: none; }

@media only screen and (max-width:899px) {
  .sidebar { display: block; width: 100%; position: absolute; top: 0; }
  .sidebar span { padding: 15px 30px; }
  .sidebar span small { display: block; font-size: 12px; opacity: 0.5; }
  .sidebar ul { display: none; margin-top: 0px; padding-top:10px; padding-bottom: 15px; background: #393d4b; position: relative; z-index: 1; }
  .sidebar ul.show { display: block; }
  .sidebar img.menu-mobile { display: block; width: 25px; position: absolute; right: 30px; top: 28px; filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(307deg) brightness(105%) contrast(101%);  }
}


/* CONTENT */
.content { width: 85%; padding: 30px; background: #f9f9f9; }

@media only screen and (max-width:899px) {
  .content { width: 100%; padding: 20px; }
}

/* ACTIONS BATH */
.content .actions-bath { display: flex; }
.content .actions-bath .globalButton { margin-right: 10px; width: 150px; }

@media only screen and (max-width:899px) {
  .content .actions-bath { display: flex; justify-content: space-between; align-items: center; margin-top: 80px; }
  .content .actions-bath .globalButton { margin-right: 0; font-size: 13px; width: 120px; }

}

/* COMPONENT NEW BATH */
.content .new-bath { margin-top: 40px; display: none; }
.content .new-bath.show { display: block; }
.content .new-bath form .form-control { margin-bottom: 20px; }
.content .new-bath form .globalButton { margin-top: 20px; }

@media only screen and (max-width:899px) {
  .content .new-bath form .globalButton { width: 100%; }
}

/* COMPONENT PRODUCTS BATH */
.content .products-bath { margin-top: 40px; display: none; }
.content .products-bath.show { display: block; }
.content .products-bath h3 span { font-size: 14px; font-weight: normal; opacity: 0.5; }
.content .products-bath .scroll-area { overflow: scroll; height: calc(900px - 200px); }
.content .products-bath .products-list { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; }
.content .products-bath .products-list .card { width: 23.5%; margin-right: 20px; position: relative; margin-bottom: 20px;}
.content .products-bath .products-list .card:nth-child(4n+4) { margin-right: 0px; }
.content .products-bath .products-list .card img { width: 100%; height: 200px; object-fit: cover; }
.content .products-bath .products-list .card ul { margin: 0; padding: 20px; }
.content .products-bath .products-list .card ul li { list-style: none; }
.content .products-bath .products-list .card span.badge { cursor: pointer; position: absolute; top: 20px; right: 20px; font-size: 14px;}

@media only screen and (max-width:899px) {
  .content .products-bath h3 span { display: block; margin-top: 0px; }
  .content .products-bath .products-list .card { width: 100%; }
  .content .products-bath .products-list .card:nth-child(1n+1) { margin-right: 0px; }
  .content .products-bath .scroll-area { overflow: initial; }
}


@media only screen and (min-width:1920px) {
  .content .products-bath .scroll-area { overflow: scroll; height: calc(900px - 180px);  }
}

/* REPORTS BATH */
.content .reports-bath { margin-top: 40px; position: relative; display: none; }
.content .reports-bath.show { display: block; }
.content .reports-bath hr { opacity: 0.1; }
.content .reports-bath button { position: absolute; right: 0; top: -57px;}
.content .reports-bath h3 span { font-size: 14px; font-weight: normal; opacity: 0.5; }
.content .reports-bath span { font-weight: bold; }
.content .reports-bath ul { list-style: none; margin: 0; padding: 0; }
.content .reports-bath ul li { font-size: 16px; line-height: 50px; border-bottom: 1px solid #f1f1f1;}

@media only screen and (max-width:899px) {
  .content .reports-bath button { font-size: 12px; width: 120px;}
  .content .reports-bath h3 span { display: block; }
  .content .reports-bath ul li { font-size: 14px; }
  .content .reports-bath .col-10 { width: 65%; }
  .content .reports-bath .col-2 { width: 35%; }
}


/* COMPONENT PRODUCTS */
.content .products { margin-top: 20px; display: block; }
.content .products h3 span { font-size: 14px; font-weight: normal; opacity: 0.5;}
.content .products h3 small { float: right; text-align: right; font-size: 15px; margin-top: 9px;}

.content .products .scroll-area { overflow: scroll; height: calc(900px - 200px); }
.content .products .products-list { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; }
.content .products .products-list .card { width: 23.5%; margin-right: 20px; position: relative; margin-bottom: 20px;}
.content .products .products-list .card:nth-child(4n+4) { margin-right: 0px; }
.content .products .products-list .card .info-product { padding: 0px 20px; margin-top: 20px; position: relative; }
.content .products .products-list .card .info-product h5 { font-weight: bold; }
.content .products .products-list .card .info-product h6 { opacity: 0.6; }
.content .products .products-list .card img { width: 100%; height: 200px; object-fit: cover; }
.content .products .products-list .card p { color:rgba(0,0,0,0.6); padding: 0px 20px; padding-bottom: 0px; margin-bottom: 0; margin-top: 0px;}
.content .products .products-list .card ul { margin: 0; padding: 20px; }
.content .products .products-list .card ul li { list-style: none; }
.content .products .products-list .card span.badge { cursor: pointer; position: absolute; top: 20px; right: 20px; font-size: 14px;}
.content .products .products-list .card span.badge.bg-danger { cursor: pointer; position: absolute; top: 10px; right: 20px; font-size: 14px;}

@media only screen and (max-width:899px) {
  .content .search-products { margin-top: 80px; }
  .content .search-products .col-9 { width: 100%; }
  .content .search-products .col-3 { width: 100%; margin-top: 10px;}

  .content .products h3 span { display: block; margin-top: 0px; }
  .content .products h3 small { display: block; float: initial; text-align: left; }

  .content .products .scroll-area { overflow: initial; }

  .content .products .products-list .card { width: 100%; }
  .content .products .products-list .card:nth-child(1n+1) { margin-right: 0px; }
}

@media only screen and (min-width:1920px) {
  .content .products .scroll-area { overflow: scroll; height: calc(900px - 150px);}
}